body {
  background-color: $main-bg-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .main {
    background-color: $card-bg-blue;
    height: 29rem;
    width: 20rem;
    border-radius: 1rem;

    .card-body {
      padding: 2rem;
      .image {
        position: relative;
        cursor: pointer;
        .card-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 1s;
        }
      }

      .überschrift {
        color: $white;
        font-weight: 600;
      }
      .überschrift:hover {
        color: $cyan;
      }

      .paragraph {
        color: $soft-blue;
      }
      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 16rem;

        .eth-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 2rem;
          width: 5.5rem;
          .eth {
            color: $cyan;
            svg {
              margin-top: 0.2rem;
            }
          }
        }
        .days-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $soft-blue;
          height: 2rem;
          width: 5.8rem;
          svg {
            margin-top: 0.3rem;
          }
        }
      }
      .footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 2rem;
          height: 2rem;
          border: 2px solid white;
          border-radius: 50%;
        }
        .creation {
          color: $soft-blue;
          margin-left: 0.9rem;
        }
        .ulus {
          color: $white;
          margin-left: 0.3rem;
        }
        .ulus:hover {
          color: $cyan;
        }
      }
      div {
        margin-bottom: 0.3rem;
      }
      .line {
        width: 16rem;
        height: 1px;
        background-color: $soft-blue;
        margin-bottom: 0.7rem;
      }
    }
  }
}
