@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}
html img,
body img {
  width: 100%;
}
html ul,
body ul {
  list-style-type: none;
}
html a,
body a {
  text-decoration: none;
}

body {
  background-color: hsl(217deg, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main {
  background-color: hsl(216deg, 50%, 16%);
  height: 29rem;
  width: 20rem;
  border-radius: 1rem;
}
body .main .card-body {
  padding: 2rem;
}
body .main .card-body .image {
  position: relative;
  cursor: pointer;
}
body .main .card-body .image .card-image {
  border-radius: 1rem;
}
body .main .card-body .image .card-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
  width: 48px;
  height: 48px;
}
body .main .card-body .image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0.3rem;
  left: 0;
  border-radius: 1rem;
  background-color: transparent;
  transition: background-color 1s;
}
body .main .card-body .image:hover::after {
  background-color: rgba(240, 248, 255, 0.4);
}
body .main .card-body .image:hover .card-icon {
  opacity: 1;
}
body .main .card-body .überschrift {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
}
body .main .card-body .überschrift:hover {
  color: hsl(178deg, 100%, 50%);
}
body .main .card-body .paragraph {
  color: hsl(215deg, 51%, 70%);
}
body .main .card-body .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
}
body .main .card-body .icons .eth-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 5.5rem;
}
body .main .card-body .icons .eth-icon .eth {
  color: hsl(178deg, 100%, 50%);
}
body .main .card-body .icons .eth-icon .eth svg {
  margin-top: 0.2rem;
}
body .main .card-body .icons .days-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(215deg, 51%, 70%);
  height: 2rem;
  width: 5.8rem;
}
body .main .card-body .icons .days-icon svg {
  margin-top: 0.3rem;
}
body .main .card-body .footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .main .card-body .footer img {
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
}
body .main .card-body .footer .creation {
  color: hsl(215deg, 51%, 70%);
  margin-left: 0.9rem;
}
body .main .card-body .footer .ulus {
  color: hsl(0deg, 0%, 100%);
  margin-left: 0.3rem;
}
body .main .card-body .footer .ulus:hover {
  color: hsl(178deg, 100%, 50%);
}
body .main .card-body div {
  margin-bottom: 0.3rem;
}
body .main .card-body .line {
  width: 16rem;
  height: 1px;
  background-color: hsl(215deg, 51%, 70%);
  margin-bottom: 0.7rem;
}

/*# sourceMappingURL=main.css.map */
